* {
  margin: 0;
  padding: 0;
}
body {
  background: #2e3047; /*url("D:\Websites\task 2\my-app\src\image.png");*/
  background-repeat: no-repeat;
  width: 100%;
}

.logo {
  color: black;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 16px 5%;
  color: white;
  background-color: rgb(109, 235, 228);
  box-shadow: 0px 0px 5px black;
  border-radius: 0.7rem;
}

.navButton {
  padding: 5px 25px;
  border-radius: 0.3rem;
  transition: 0.5s;
  background-color: #2e3047;
  color: white;
  cursor: pointer;
}

.navButton:active {
  filter: brightness(120%);
  color: yellow;
}

#containerHeading {
  color: rgb(212, 212, 212);
  text-align: center;
  margin: 20px 0px;
  position: relative;
  text-shadow: 0px 1px 2px grey;
}

#containerHeading:before {
  content: " ";
  position: absolute;
  bottom: -4px;
  width: 7rem;
  transform: scaleX(0);
  transform-origin: center;
  transition-duration: 0.3s;
  height: 4px;
  background-color: rgb(62, 59, 243);
}

#containerHeading:hover:before {
  transform: scaleX(3);
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 45px;
  padding: 25px;
  background-color: rgb(109, 235, 228);
  transition: 0.5s;
  border-radius: 15px;
  font-family: sans-serif;
}

.card:hover {
  box-shadow: 5px 5px 25px black;
}

.image {
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0px 0px 15px rgb(51, 255, 255);
}

.image:hover {
  border-radius: 0%;
}

.userName {
  margin: 7px;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 30% 30% 30%;
  }
}
